extends layout

block content 
    table(class='mytable')
        tr
            th Name
            th Password
            th Email 
            th age 
            th Answer one 
            th Answer two 
            th Answer three
            th 
            th
        tr 
            td #{user.Name}
            td #{user.Password}
            td #{user.Email}
            td #{user.Age}
            td #{user.AnswerOne}
            td #{user.AnswerTwo}
            td #{user.AnswerThree}
            td 
                a(href='/edit/' + user.id) Edit 
